@model Adviser.Models.ViewModels.SettingViewModels.CalendarSetting
@{
    ViewBag.Title = "CalendarSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var JsonMode = Newtonsoft.Json.JsonConvert.SerializeObject(Model.listCalendar);    
    Html.AddJavaScriptVar("JsonMode", JsonMode);
}

<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>
<script src="~/Scripts/Code/CalendarJs.js"></script>

<h2>行事曆</h2>

<div id='calendar' class="fc fc-unthemed fc-ltr"></div>

<script>
    var Today = new Date();   

    $(document).ready(function () {

        var eventlist = [];

        for (i = 0, length = jQuery.parseJSON(JsonMode).length; i < length; i++) {
            if (jQuery.parseJSON(JsonMode)[i] != null) {
                eventlist.push(
                    {
                        'title': jQuery.parseJSON(JsonMode)[i].Title,
                        'start': jQuery.parseJSON(JsonMode)[i].NowDay.substring(0, 10)
                    }
                )
            }
            else {
                console.log(i);
            }
        }

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            defaultDate: Today,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: eventlist
        });

    });
</script>

<style>
    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>