@model  WebApplication1.Models.PhotoViewModels.PhotoViewModel

<script type="text/javascript">
    $(document).ready(function () {

        $('.carousel').carousel({
            interval: 6000
        })
    });
</script>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators col-md-4">
        @if (Model != null)
        {
            int first = 0;

            foreach (var item in Model.PhotoList)
            {
                if (first == 0)
                {
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                }
                else
                {
                    <li data-target="#carousel-example-generic" data-slide-to="@first"></li>
                }
                first++;
            }
        }

    </ol>
    <!-- Wrapper for slides -->

        <div class="carousel-inner" role="listbox">

            @if (Model != null)
            {
                int first = 0;

                foreach (var item in Model.PhotoList)
                {
                    if (first == 0)
                    {
                        <div class="item active">
                            @*@string path=@item.ImageNo+"."+@item.AttachedFileName*@
                            <img src="/FileLoad/GETFilePath?image=@item.ImageNo&extend=@item.AttachedFileName" alt="...">
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            @*@string path=@item.ImageNo+"."+@item.AttachedFileName*@
                            <img src="/FileLoad/GETFilePath?image=@item.ImageNo&extend=@item.AttachedFileName" alt="...">

                        </div>
                    }
                    first++;
                }
            }
 



    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
