@model  Adviser.Models.ReportViewModels.TradeRecordReportModel

@{
    ViewBag.Title = "RecordeReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Menu.Menu_4002</h2>

@using (Html.BeginForm("SearchRecord", "Report", FormMethod.Post, new {@id= "ReportForm" , @class = "form-horizontal", role = "form" })) {
    <div class="panel panel-info">
        <div class="panel-heading">基本查詢</div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <label class="control-label">
                        開始日期
                    </label>
                    <div >
                        <input type='text' class="form-control TimePicker" id='BeginTimePicker' name="BeginTime" value="@Model.BeginTime.ToString(CommTool.BaseConst.TimeFormatComplete)" />
                    </div>
                    <label class="control-label">
                        結束日期
                    </label>
                    <div >
                        <input type='text' class="form-control TimePicker" id='EndTimePicker' name="EndTime" value="@Model.EndTime.ToString(CommTool.BaseConst.TimeFormatToMinute)" />
                    </div>
                    <div >
                        <input type="submit"  value="查詢" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body" id="_ReportTable">            
             @Html.Partial("_ReportTableM", @Model)  
        </div>
    </div>      
}
<div id="confirm" style="background-position: top right;background-repeat:no-repeat;padding-top:10px;display:none;width:600px;"></div>
 
<script type="text/javascript">
    $(function () {       
        $(".TimePicker").datepicker({
            format: "yyyy/mm/dd"
         });               
      
    });
</script>