<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateXML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CreateXML.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CreateXML.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsTestMode" serializeAs="String">
                <value>False</value>
            </setting>
        </CreateXML.Properties.Settings>
        <CreateXML.Settings1>
            <setting name="LAs" serializeAs="String">
                <value>sdsds</value>
            </setting>
          <setting name="IsUpdated" serializeAs="String">
            <value>false</value>
          </setting>
          <setting name="IsTestMode" serializeAs="String">
            <value>true</value>
          </setting>
          <setting name="BaseConncection" serializeAs="String">
            <value>Data Source=127.0.0.1;Initial Catalog=ReDB;User Id=sa;Password=dcms;Application Name=DcmsHr</value>
          </setting>
        </CreateXML.Settings1>
    </userSettings>
</configuration>