@using Newtonsoft.Json
@model  WebApplication1.Models.PhotoViewModels.PhotoViewModel

<script src="~/Scripts/popImage/jquery.popImage.mini.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        TableHighLight("PhotoTable");
        $("a.image_gall").popImage();
        $("#link_group a").popImage({ "tagName": "rel" });
    });    
</script>

<div id="div_PhotoTable">
    <h2>輪播圖管理</h2>
    <hr />
    <div >
        <button type="button" id="ImageAddButton" class="btn btn-success col-md-offset-11" onclick="LoadingUpLoadPage()">上傳檔案</button>
    </div>
    <p></p>
    <div class="panel panel-default">
        <div class="panel-heading">輪播圖列表</div>
        <div id="link_group">
            <table class="table" id="PhotoTable">
                <tr>                    
                    <th>
                        說明
                    </th>                 
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model.PhotoList)
                    {
                        <tr id="Photo_@item.ImageNo">                         
                            <td>   
                                <a href=" javascript:void(0)" rel="/FileLoad/GETFilePath?image=@item.ImageNo&extend=@item.AttachedFileName">@item.Remark</a>                                
                            </td>                          
                            <td>
                                <div>
                                    <input type="submit" value="刪除" class="btn btn-danger col-md-offset-10" onclick="OnPhotoDeleteClick(@JsonConvert.SerializeObject(item))" />
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
            </div>
        </div>
</div>


  

 
