@model  WebApplication1.Models.RoleViewModels.RoleViewModel

@using Newtonsoft.Json

@{
    //Layout = null;
    ViewBag.Title = "View1";
}


<script type="text/javascript">
    $(document).ready(function () {
        RoleInitSetting()
        
    });
</script>

<h2>角色管理</h2>
<hr />
<h4>點擊下面列表欄位，以進行修改</h4>
<div class="marg-around-10">
    <div id="ADDControl" ><input type="submit" value="新增角色" class="btn btn-success col-md-offset-4" onclick="OnRoleAddClick()"></div>
</div>


<div class="panel panel-default col-md-5">  
   

    <input id="RoleNO" type="text" hidden="hidden" />
               
    <div class="panel-heading">角色列表</div>
    <table class="table" id="RoleTable">
        <tr>
           
            <th>
                名稱:
            </th>
          
        </tr>
        @if (Model != null)
        {
            foreach (var Item in Model.RoleList)
            {
                <tr id="@Item.RoleNo" title="點擊欄位進行設定">
                   
                    <td>
                        @Html.DisplayFor(modelItem => Item.Name)
                    </td>
                   
                </tr>
            }
        }
    </table>

</div>


@*功能Partial區塊*@
<div id="RolePartial" class="col-sm-7"></div>


