<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsService1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsService1.Settings1>
            <setting name="LogPath" serializeAs="String">
                <value>D:\Log</value>
            </setting>
            <setting name="PostAddress" serializeAs="String">
                <value>http://dickguo.net63.net/chat/getInfo/</value>
            </setting>
            <setting name="Condition" serializeAs="String">
                <value>[正妹]</value>
            </setting>
            <setting name="Site" serializeAs="String">
                <value>Beauty</value>
            </setting>
            <setting name="Start" serializeAs="String">
                <value>1150</value>
            </setting>
            <setting name="PushCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ReCordTime" serializeAs="String">
                <value>2014/04/08 14:15:54</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RecordPath" serializeAs="String">
                <value>D:\Log</value>
            </setting>
        </WindowsService1.Settings1>
    </userSettings>
</configuration>