<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DService.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DService.Settings1>
            <setting name="LogPath" serializeAs="String">
                <value>C:\SLog</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IntervalUnit" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="UpDateGradPath" serializeAs="String">
                <value>C:\DllCopy</value>
            </setting>
            <setting name="UpDateTime" serializeAs="String">
                <value>18:30:00</value>
            </setting>
            <setting name="AppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>0900</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>1330</value>
            </setting>
            <setting name="AppIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="AppPort" serializeAs="String">
                <value>8055</value>
            </setting>
            <setting name="PostAddress" serializeAs="String">
                <value>http://dickguo.net63.net/chat/getInfo/</value>
            </setting>
            <setting name="Condition" serializeAs="String">
                <value>[正妹]</value>
            </setting>
            <setting name="PushCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DBSource" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>yyyy/MM/dd HH:mm:ss</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Beauty</value>
            </setting>
            <setting name="TestPostAddress" serializeAs="String">
                <value>http://dickguo.net63.net/chat/test/</value>
            </setting>
            <setting name="IsTest" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="StartTag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartPoint" serializeAs="String">
                <value>1150</value>
            </setting>
            <setting name="ShortTimeFormat" serializeAs="String">
                <value>HH:mm:ss</value>
            </setting>
            <setting name="IsAutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YahooStock" serializeAs="String">
                <value>https://tw.screener.finance.yahoo.net/future/aa03?fumr=futurepart&amp;opmr=optionpart&amp;opcm=WTXO&amp;opym=</value>
            </setting>
            <setting name="MotroPostAddress" serializeAs="String">
                <value>http://5561.16mb.com/index.php/api/addData</value>
            </setting>
            <setting name="ServerBakPath" serializeAs="String">
                <value>D:\Dropbox\ServserBak</value>
            </setting>
            <setting name="Capitalfutures" serializeAs="String">
                <value>http://www.capitalfutures.com.tw/option/default.asp?</value>
            </setting>
            <setting name="IsWorkBueaty" serializeAs="String">
                <value>true</value>
            </setting>
        </DService.Settings1>
    </userSettings>
</configuration>