
<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/Code/UserAccount.js"></script>
<script src="~/Scripts/Code/MenuManagment.js"></script>
<script src="~/Scripts/Code/GlobalMethod.js"></script>
@{
    //Layout = null;
    ViewBag.Title = "UserManagement";
}
@Styles.Render("~/Content/css")
<script type="text/javascript">
    $(document).ready(
         $.ajax({
             type: "POST",
             url: "UserAccount/LoadingAccountPartialView",
             success: function (Model) {
                 $("#ViewPartial").html(Model);

                 TableHighLightAndRowSelected("BrowseTable");
                 
                 

             }
         })
        );
</script>





<div id="ViewPartial"></div>